<template>
  <svg fill="currentColor" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
    <path
      d="m512 32v167.48a32 32 0 1 1 -64 0v-90.225l-119.134 119.134a32 32 0 0 1 -45.255-45.254l119.135-119.135h-90.226a32 32 0 0 1 0-64h167.48a32 32 0 0 1 32 32zm-512 448a32 32 0 0 0 32 32h167.48a32 32 0 1 0 0-64h-90.224l119.133-119.134a32 32 0 0 0 -45.255-45.255l-119.134 119.135v-90.225a32 32 0 0 0 -64 0z"
    />
  </svg>
</template>
