<template>
  <svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
    <g id="Open_Folder-2" data-name="Open Folder">
      <path
        d="m47.6205 18.5394a2.9866 2.9866 0 0 0 -2.622-1.5394h-28.4262a4.4293 4.4293 0 0 0 -4.2523 3.1891l-5.6265 19.2909a4.889 4.889 0 0 1 -4.6935 3.52h35.7478a4.89 4.89 0 0 0 4.6944-3.5208l5.4014-18.5183a3.1406 3.1406 0 0 0 -.2231-2.4215z"
      />
      <path
        d="m4.77 38.92 5.63-19.29a6.45 6.45 0 0 1 6.17-4.63h25.43v-1a4 4 0 0 0 -4-4h-15.2443a2.0053 2.0053 0 0 1 -1.5557-.74l-1.9657-2.4171a4.9941 4.9941 0 0 0 -3.8743-1.8429h-11.36a4 4 0 0 0 -4 4v30a2 2 0 0 0 2 2 2.895 2.895 0 0 0 2.77-2.08z"
      />
    </g>
  </svg>
</template>
