<script setup>
import CButton from '@/components/Atoms/CButton.vue';
import CTypographySibarTitle from '@/components/Atoms/CTypographySibarTitle.vue';
import CTypographySibarOption from '@/components/Atoms/CTypographySibarOption.vue';
import CSidebarSection from '@/components/Molecules/CSidebarSection.vue';
import CProcess from '@/components/Atoms/CProcess.vue';
import CInput from '@/components/Atoms/CInput.vue';
import CFolderBox from '@/components/Organisms/CFolderBox.vue';
import CTableImage from '@/components/Atoms/CTableImage.vue';
import CCheckboxItem from '@/components/Molecules/CCheckboxItem.vue';
import CTable from '@/components/Molecules/CTable.vue';
import { computed, ref } from 'vue';
import { usePhotos } from '@/stores/photo';
import { maxStorage } from '@/constants';
import { byteToKilobyte } from '@/utils';

const photoStore = usePhotos();

const searchText = ref('');
const searchInput = ref(searchText.value);
const memberInput = ref(photoStore.photoBy ?? []);
const folderInput = ref('Uploads');

const percentOfUsedStorage = computed(() => {
  if (photoStore?.usedMemory && typeof photoStore.usedMemory === 'number') {
    return Number(((photoStore.usedMemory / maxStorage) * 100).toFixed(2));
  }
  return 0;
});

const folders = computed(() => {
  return photoStore?.foldersInfo ?? [];
});

const photoByOptions = computed(() => {
  if (photoStore.photoBy instanceof Array) {
    return photoStore.photoBy.map((item) => ({
      label: item.charAt(0).toUpperCase() + item.slice(1),
      value: item
    }));
  }
  return [];
});

const isMemberCheckAll = computed(() => {
  if (memberInput.value.length === photoByOptions.value.length) {
    return true;
  }
  return false;
});

const columns = [
  {
    title: 'Select all',
    dataIndex: 'url',
    key: 'url'
  },
  {
    title: 'Name',
    dataIndex: 'name',
    key: 'name',
    sort: true
  },
  {
    title: 'Dimmension',
    dataIndex: 'dimmension',
    key: 'dimmension',
    sort: true
  },
  {
    title: 'Size',
    dataIndex: 'size',
    key: 'size',
    sort: true
  }
];

const dataSource = computed(() => {
  if (photoStore?.folders) {
    const originArray = photoStore.getImageInFolderNames(folderInput.value);

    let regexText = new RegExp(searchText.value, 'gi');

    const filterBySearchText = originArray.filter((item) => {
      return item?.name && item.name.search(regexText) !== -1;
    });

    let result = filterBySearchText.filter((item) => memberInput.value.includes(item?.photo_by));

    return result;
  }
  return [];
});

const onSearch = () => {
  searchText.value = searchInput.value;
};

const onSelectAllMember = (value) => {
  if (value) {
    memberInput.value = photoStore.photoBy;
  } else memberInput.value = [];
};

const onChangeActive = (value) => {
  folderInput.value = value;
};
</script>
<template>
  <div class="bg-main p-11">
    <div class="relative rounded-lg bg-white shadow min-h-screen">
      <aside
        class="my-sidebar absolute top-0 left-0 bottom-0 px-8 py-7.5 w-[274px] border-r overflow-y-auto overflow-x-visible"
      >
        <div class="pb-5.5 border-b">
          <CButton class="w-full">Import documents</CButton>
        </div>
        <div class="py-6.5 border-b">
          <CSidebarSection>
            <template #title>
              <div class="flex justify-between">
                <CTypographySibarTitle> Storage </CTypographySibarTitle>
                <CTypographySibarOption>Change plan</CTypographySibarOption>
              </div>
            </template>
            <template #default>
              <div class="mb-2">
                <CProcess :percent="percentOfUsedStorage"></CProcess>
              </div>
              <div>
                <span class="text-blue-main font-bold">{{ percentOfUsedStorage }}% </span>
                <span>used of 2GB</span>
              </div>
            </template>
          </CSidebarSection>
        </div>
        <div class="py-6.5 border-b">
          <CSidebarSection>
            <template #title>
              <div class="flex justify-between">
                <CTypographySibarTitle> Search </CTypographySibarTitle>
              </div>
            </template>
            <template #default>
              <form @submit.prevent="onSearch">
                <CInput placeholder="e.g. image.png" v-model:value="searchInput"></CInput>
              </form>
            </template>
          </CSidebarSection>
        </div>
        <div class="py-6.5 border-b">
          <CSidebarSection>
            <template #title>
              <div class="flex justify-between">
                <CTypographySibarTitle> Folders </CTypographySibarTitle>
                <CTypographySibarOption>New Folder</CTypographySibarOption>
              </div>
            </template>
            <template #default>
              <CFolderBox
                :folders="folders"
                :activeName="folderInput"
                @change="onChangeActive"
              ></CFolderBox>
            </template>
          </CSidebarSection>
        </div>
        <div class="py-6.5">
          <CSidebarSection>
            <template #title>
              <div class="flex justify-between">
                <CTypographySibarTitle> Members </CTypographySibarTitle>
                <CTypographySibarOption>Select all</CTypographySibarOption>
              </div>
            </template>
            <template #default>
              <div class="mb-3">
                <CCheckboxItem :modelValue="isMemberCheckAll" @change="onSelectAllMember">
                  All
                </CCheckboxItem>
              </div>
              <div class="mb-3" v-for="item of photoByOptions" :key="item?.value">
                <CCheckboxItem :value="item?.value" v-model="memberInput">{{
                  item?.label
                }}</CCheckboxItem>
              </div>
            </template>
          </CSidebarSection>
        </div>
      </aside>
      <main class="ml-[275px] bg-white px-5 py-7.5">
        <div class="overflow-x-auto">
          <CTable :checkbox="true" :dataSource="dataSource" :columns="columns">
            <template #bodyCell="{ column, text, record }">
              <template v-if="column.key === 'url'">
                <CTableImage :src="text" alt="table image"></CTableImage>
              </template>
              <template v-if="column.key === 'name'">
                <a :href="record?.url" class="hover:underline line-clamp-3">{{ text }}</a>
              </template>
              <template v-if="column.key === 'dimmension'">
                <span class="whitespace-nowrap">{{ text }}</span>
              </template>
              <template v-if="column.key === 'size'">
                <span class="whitespace-nowrap">{{ byteToKilobyte(text).toFixed(1) }} kB</span>
              </template>
            </template>
          </CTable>
        </div>
      </main>
    </div>
  </div>
</template>
