<script setup>
import { computed } from 'vue';
const props = defineProps({
  color: {
    type: String,
    default: () => 'default',
    validator: (value) => {
      return ['default', 'blue'].includes(value);
    }
  }
});

const componentClasses = computed(() => {
  if (props.color === 'blue') {
    return 'bg-blue-500 text-white';
  }
  return 'bg-gray-300 text-gray-900';
});
</script>
<template>
  <div
    class="text-xxs p-0.75 leading-none rounded min-w-[16px] text-center font-bold select-none"
    :class="componentClasses"
  >
    <slot />
  </div>
</template>
