<script setup>
import { computed } from 'vue';
import { CheckIcon } from '@heroicons/vue/20/solid';
import { generateId } from '@/utils';

const props = defineProps({
  modelValue: {
    type: [Boolean, Array]
  },
  value: {
    type: [String, Number, Boolean],
    default: ''
  },
  checked: {
    type: Boolean
  },
  id: {
    type: String
  },
  trueValue: {
    default: true
  },
  falseValue: {
    default: false
  }
});

const emits = defineEmits(['update:modelValue', 'change']);

const isChecked = computed(() => {
  if (props.modelValue instanceof Array) {
    return props.modelValue.includes(props.value);
  }

  return props.modelValue === props.trueValue;
});

const componentId = computed(() => props.id ?? generateId());
const checkboxClasses = computed(() => {
  if (isChecked.value) {
    return 'bg-blue-main border-blue-main ';
  }
  return 'bg-white border-gray-300 ';
});

const onChange = (event) => {
  let isNewState = event.target.checked;

  if (props.modelValue instanceof Array) {
    let newValue = [...props.modelValue];

    if (isNewState) {
      newValue.push(props.value);
    } else {
      newValue.splice(newValue.indexOf(props.value), 1);
    }

    emits('update:modelValue', newValue);
    emits('change', newValue);
  } else {
    let newValue = isNewState ? props.trueValue : props.falseValue;
    emits('update:modelValue', newValue);
    emits('change', newValue);
  }
};
</script>
<template>
  <div class="relative">
    <input
      type="checkbox"
      class="hidden"
      :checked="isChecked"
      :value="value"
      :id="componentId"
      @change="onChange"
    />
    <label
      class="block w-4 h-4 align-middle text-white border rounded ring-blue-500 cursor-pointer"
      :class="checkboxClasses"
      :for="componentId"
    >
      <CheckIcon class="font-bold" />
    </label>
  </div>
</template>
