<script setup>
import CRightArrowIcon from '@/components/Atoms/Icon/CRightArrowIcon.vue';
import COpenFolderIcon from '@/components/Atoms/Icon/COpenFolderIcon.vue';
import CBadget from '@/components/Atoms/CBadget.vue';
import { computed } from 'vue';

const props = defineProps({
  actived: {
    type: Boolean,
    default: false
  },
  isExpand: {
    type: Boolean,
    default: false
  },
  hasChildren: {
    type: Boolean,
    default: false
  },
  isShowBadget: {
    type: Boolean,
    default: true
  }
});

const componentClasses = computed(() => {
  if (props.actived) {
    return 'bg-blue-100 text-blue-500';
  }

  if (props.isExpand) {
    return 'text-black';
  }

  return ' bg-white hover:bg-gray-100';
});

const iconClasses = computed(() => {
  if (props.actived) {
    return 'text-blue-500';
  }

  if (props.isExpand) {
    return 'text-black';
  }

  return 'text-gray-300';
});

const iconArrowClasses = computed(() => {
  let classes = [];
  if (!props.hasChildren) {
    classes.push('invisible');
  }

  if (props.actived) {
    classes.push('text-blue-500');
    if (props.isExpand) {
      classes.push('rotate-90');
    }
  } else if (props.isExpand) {
    classes.push('text-black rotate-90');
  } else classes.push('text-gray-300');

  return classes;
});
</script>
<template>
  <div>
    <div class="flex items-center p-2.25 cursor-pointer rounded-md" :class="componentClasses">
      <div class="w-4 h-4 p-0.75 mr-2.5 transition-all flex-shrink-0" :class="iconArrowClasses">
        <CRightArrowIcon />
      </div>
      <div class="w-4 h-4 mr-2 flex-shrink-0" :class="iconClasses">
        <COpenFolderIcon />
      </div>
      <div class="leading-none font-semibold mr-1.5 select-none line-clamp-1">
        <slot />
      </div>
      <div>
        <template v-if="$slots.badget && isShowBadget">
          <CBadget :color="actived ? 'blue' : 'default'">
            <slot name="badget" />
          </CBadget>
        </template>
      </div>
    </div>
  </div>
</template>
