<script setup>
import { MagnifyingGlassIcon } from '@heroicons/vue/24/outline';
// eslint-disable-next-line no-unused-vars
const props = defineProps({
  value: {
    type: [String, Number, Boolean],
    default: ''
  },
  placeholder: String
});

const emits = defineEmits(['update:value']);

const onInput = (event) => {
  emits('update:value', event.target.value);
};
</script>
<template>
  <div>
    <div class="relative border rounded-md transition-colors focus-within:ring-1 group/input">
      <input
        type="text"
        @input="onInput"
        :value="value"
        class="py-3 pl-3 pr-10 w-full outline-none rounded-md leading-none"
        :placeholder="placeholder"
      />
      <button
        type="submit"
        class="absolute top-0 right-0 bottom-0 flex items-center justify-center px-3 text-gray-400 group-focus-within/input:text-gray-600 cursor-pointer"
      >
        <div class="w-4 h-4">
          <MagnifyingGlassIcon></MagnifyingGlassIcon>
        </div>
      </button>
    </div>
  </div>
</template>
