<script setup>
import { computed } from 'vue';

const props = defineProps({
  percent: {
    type: Number,
    default: 50,
    validator: (value) => {
      return value >= 0 && value <= 100;
    }
  }
});

const processStyles = computed(() => {
  return {
    width: Number(props.percent) ? `${props.percent}%` : ''
  };
});
</script>
<template>
  <div>
    <div class="relative h-2.5 w-full overflow-hidden rounded-full">
      <div class="absolute top-0 right-0 bottom-0 left-0 bg-gray-200"></div>
      <div class="absolute top-0 bottom-0 left-0 bg-blue-main" :style="processStyles"></div>
    </div>
  </div>
</template>
