<script setup>
import CUpAndDownIcon from '@/components/Atoms/Icon/CUpAndDownIcon.vue';
// eslint-disable-next-line no-unused-vars
const props = defineProps({
  sort: {
    type: Boolean,
    default: false
  }
});
</script>
<template>
  <div>
    <div
      class="pt-4 pb-6.5 px-3 flex items-center text-sm text-gray-500 leading-none cursor-pointer"
      v-if="sort"
    >
      <span class="mr-1"><slot /></span>
      <div class="w-2.25 h-2.25 flex-shrink-0">
        <CUpAndDownIcon></CUpAndDownIcon>
      </div>
    </div>
    <div class="pt-4 pb-6.5 px-3 leading-none text-gray-500 text-sm" v-else>
      <slot />
    </div>
  </div>
</template>
