<script setup>
import CExpandIcon from '@/components/Atoms/Icon/CExpandIcon.vue';

defineProps({
  src: String,
  alt: String
});
</script>
<template>
  <div>
    <div
      class="w-62 h-24 rounded-lg shadow-md shadow-slate-400 relative cursor-pointer group/image"
    >
      <img :src="src" :alt="alt" class="w-full h-full object-cover rounded-lg" />
      <div
        class="absolute top-0 left-0 right-0 bottom-0 bg-blue-500 bg-opacity-70 rounded-lg group-hover/image:flex hidden transition-all justify-center items-center"
      >
        <div
          class="flex text-white text-lg items-center rounded-full bg-white bg-opacity-20 w-fit py-1.75 px-3.75"
        >
          <span class="mr-4">Enlarge</span>
          <div class="w-4 h-4">
            <CExpandIcon></CExpandIcon>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
