<script setup>
import CCheckboxInput from '@/components/Atoms/CCheckboxInput.vue';
import { generateId } from '@/utils';

// eslint-disable-next-line no-unused-vars
const props = defineProps({
  modelValue: {
    type: [Boolean, Array]
  },
  value: {
    type: [String, Number, Boolean],
    default: ''
  },
  trueValue: {
    default: true
  },
  falseValue: {
    default: false
  }
});

const emits = defineEmits(['update:modelValue', 'change']);

const onChange = (value) => {
  emits('update:modelValue', value);
  emits('change', value);
};

const checkboxId = generateId();
</script>
<template>
  <div class="flex items-center">
    <CCheckboxInput
      class="mr-2"
      :id="checkboxId"
      :trueValue="trueValue"
      :falseValue="falseValue"
      :value="value"
      :modelValue="modelValue"
      @change="(value) => onChange(value)"
    ></CCheckboxInput>
    <label class="font-bold leading-none select-none" :for="checkboxId">
      <slot />
    </label>
  </div>
</template>
