<script setup>
import { computed, ref } from 'vue';
import CFolderItem from '@/components/Atoms/CFolderItem.vue';

const props = defineProps({
  data: {
    type: Object // { name, amount, children}
  },
  activeName: {
    type: String,
    default: ''
  },
  isExpand: {
    type: Boolean,
    default: false
  }
});

const emits = defineEmits(['change']);

const isExpand = ref(props.isExpand);

const hasChildren = computed(() => {
  if (typeof props.data === 'object') {
    const { children } = props.data;
    return children && children.length > 0;
  }
  return false;
});

const onToggleExpand = () => {
  if (hasChildren.value) {
    isExpand.value = !isExpand.value;
  }
};

const onClickItem = () => {
  emits('change', props.data?.name);
  onToggleExpand();
};

const onChange = (value) => {
  emits('change', value);
};
</script>
<template>
  <div>
    <CFolderItem
      @click="onClickItem"
      :hasChildren="hasChildren"
      :isExpand="isExpand"
      :isShowBadget="data.amount !== undefined"
      :actived="activeName === data?.name"
    >
      <template #default> {{ data?.name }}</template>
      <template #badget>
        {{ data?.amount || 0 }}
      </template>
    </CFolderItem>
    <div v-if="hasChildren && isExpand" class="ml-6.5">
      <CFolderList
        @change="onChange"
        v-for="item of data.children"
        :key="JSON.stringify(item)"
        :data="item"
        :activeName="activeName"
      ></CFolderList>
    </div>
  </div>
</template>
