<script setup>
import { ref } from 'vue';
import CCheckboxInput from '@/components/Atoms/CCheckboxInput.vue';
import CTableHeaderItem from '@/components/Atoms/CTableHeaderItem.vue';
import CTableItem from '@/components/Atoms/CTableItem.vue';

const props = defineProps({
  checkbox: {
    type: Boolean,
    default: false
  },
  columns: {
    type: Array, // {name, key, dataIndex}[]
    required: true,
    default: () => []
  },
  dataSource: {
    type: Array, // []
    required: true,
    default: () => []
  },
  rowId: {
    type: String,
    default: 'id'
  }
});

const emits = defineEmits(['selected', 'selectedAll']);

const checkedItems = ref([]);
const isCheckAll = ref(false);

const selectedAllCheckbox = () => {
  if (isCheckAll.value) {
    checkedItems.value = props.dataSource.map((item) => item[props.rowId]);
    emits('selected', checkedItems.value);
    emits('selectedAll', checkedItems.value);
  } else {
    checkedItems.value = [];
    emits('selected', checkedItems.value);
  }
};

const selectCheckboxItem = () => {
  if (checkedItems.value?.length === props.dataSource?.length && props.dataSource?.length > 0) {
    isCheckAll.value = true;
    emits('selected', checkedItems.value);
    emits('selectedAll', checkedItems.value);
  } else {
    isCheckAll.value = false;
    emits('selected', checkedItems.value);
  }
};

const getDataInSource = (object, key) => {
  if (typeof object === 'object' && key) {
    return object[key];
  }
  return '';
};
</script>
<template>
  <div>
    <table class="w-full">
      <thead>
        <tr>
          <td class="pt-4 pb-6.5 px-3 leading-none" v-if="checkbox">
            <CCheckboxInput v-model="isCheckAll" @change="selectedAllCheckbox"></CCheckboxInput>
          </td>
          <td v-for="column in columns" :key="JSON.stringify(column)">
            <CTableHeaderItem :sort="column?.sort">
              {{ column?.title }}
            </CTableHeaderItem>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(data, index) in dataSource" :key="JSON.stringify(data ?? data[rowId]) || index">
          <td class="py-2.75 px-3" v-if="checkbox">
            <CCheckboxInput
              :value="getDataInSource(data, rowId)"
              v-model="checkedItems"
              @change="selectCheckboxItem"
            ></CCheckboxInput>
          </td>
          <td v-for="column in columns" :key="JSON.stringify(column)">
            <CTableItem>
              <slot
                name="bodyCell"
                :column="column"
                :index="index"
                :text="getDataInSource(data, column?.dataIndex)"
                :record="data"
              >
                {{ getDataInSource(data, column?.dataIndex) }}
              </slot>
            </CTableItem>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>
