@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-base;
    font-family: 'Nunito Variable', system-ui, sans-serif;
  }

  .my-sidebar::-webkit-scrollbar-track {
    @apply rounded-xl;
    @apply bg-gray-50;
  }

  .my-sidebar::-webkit-scrollbar {
    @apply w-1.5;
    @apply bg-gray-50;
  }

  .my-sidebar::-webkit-scrollbar-thumb {
    @apply rounded-xl;
    @apply bg-gray-300;
  }
}
