<script setup>
import CFolderList from '@/components/Molecules/CFolderList.vue';

// eslint-disable-next-line no-unused-vars
const props = defineProps({
  folders: {
    type: Array // { name, amount, children}
  },
  activeName: {
    type: String
  }
});

const emits = defineEmits(['change']);
const onChange = (value) => {
  emits('change', value);
};
</script>
<template>
  <CFolderList
    v-for="(item, index) of folders"
    :key="index"
    :data="item"
    :activeName="activeName"
    @change="(value) => onChange(value)"
  >
  </CFolderList>
</template>
